.topic-list tr {
  position: relative;
  &.topic-list-item .main-link {
    position: static;
  }
  .topic-status[title*="solution"] {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: var(--solved-background-color);
      z-index: -1;
    }
  }  
}

.mobile-view {
  .topic-list { 
    tr { 
      .topic-status[title*="solution"] {
        &:before {
          z-index: 0;
        }
      }  
    }
    td {
      position: relative;
    }
    .main-link {
      position: static;
      .topic-status:not([title*="solution"]) {
        position: relative;
        z-index: 1
      }
      a.title {
        position: relative;
        z-index: 1;
      }
    }
    .pull-left {
      position: relative;
      z-index: 1;
    }
  }
}